.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 100px;

  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    background: #FFFFFF;
    border-radius: 5px;
    min-height: 200px;
    gap: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  &__element{
    margin: 10px;
  }

  &__field {
    width: 90%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    color: black;

    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
    }

    &--buttons {
      display: flex;
      gap: 5px;
    }

    &--modifyBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }

    &--deleteBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }
  }
}
